.container-avis {
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
 

  h2 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 1.8rem;
  }

  .group {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .review-card {
      flex: 1 1 300px;
      max-width: 350px;
      padding: 30px;
      border-radius: 25px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.349);
      border: 1px solid rgba(255, 255, 255, 0.233);
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      transition: 0.2s ease-in-out;

      .quote-icon {
        font-size: 3rem;
        color: rgb(255, 255, 255); 
        font-family: serif;
        line-height: 1;
        margin-bottom: -10px;
      }

      .stars {
        color: #428693; 
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      .review-text {
        color: white;
        font-style: italic;
        font-size: 1rem !important;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      .client-name {
        font-weight: bold;
        color: rgb(255, 255, 255);
        display: block;
        margin-top: auto;
      }
    }

    .review-card:hover {
        transform: translateY(-5px);
        background-color: #ffffff17;
    }
  }

 
  .card, h2 {
  opacity: 0;
  transform: translateY(30px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
}

@media (max-width: 768px) {
  .container-avis {
    padding: 40px 20px;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 25px;
    }

    .group {
      gap: 35px;

      .review-card {
        min-width: 100%;
        padding: 20px;
      }
    }
  }
}

@media (max-width: 350px) {
  .container-avis {
    padding: 30px 10px;

    .group .review-card {
      padding: 15px;
      
      .review-text {
        font-size: 0.9rem !important;
      }
    }
  }
}